/*

Z Levels

1 - container

100 - 199 OpenSeaDragons

200 - 299 Overlay Elements (Text und Buttons)

*/

:root {
  --textsize: 30%;  /* configurable? textarea */
}

#container {
  width: 80%; /* configurable: embedded width  */
  height: 400px; /* configurable: enbedded height */
  z-index: 1;
  margin:0;
  padding:0;
  display: grid;
  grid-template: var(--textsize) 1fr var(--textsize)  / var(--textsize) 1fr var(--textsize);
}

.iosfullscreen {
  position: fixed;
  top:0;
  left:0;
  width:100vw !important;
  height:90vh !important;
  border-top:5vh solid white;
  border-bottom:10vh solid white;
  border-left: 0;
  border-right: 0;
}

#openseadragons {
  z-index: 100;
  background-color: black;
  grid-column: 1 / span 3;
  grid-row: 1 / span 3;
  background-image: url('default.jpeg');
  background-size: 120%;
  background-position: center;
}

#textarea {
  display: grid;
  z-index: 105;
  background-color: #ffffff80;
  color: black;
  z-index: 100;
  width:100%;
  height:100%;
}

.textarea_left {
  grid-column: 1;
  grid-row: 1 / span 3;
  display:grid;
  grid-template: [contentrow]1fr [navrow]var(--textsize) / [contentcolumn navcolumn]1fr;
}

.textarea_right {
  grid-column: 3;
  grid-row: 1 / span 3;
  display:grid;
  grid-template: [contentrow]1fr [navrow]var(--textsize) / [contentcolumn navcolumn]1fr;
}

.textarea_top {
  grid-column: 1 / span 3;
  grid-row: 1 ;
  display:grid;
  grid-template: [contentrow navrow]1fr / [contentcolumn]1fr [navcolumn]var(--textsize);
}

.textarea_bottom {
  grid-column: 1 / span 3;
  grid-row: 3 ;
  display:grid;
  grid-template: [contentrow navrow]1fr / [contentcolumn]1fr [navcolumn]var(--textsize);
}

#textarea_content {
  z-index: 110;
  grid-row: contentrow;
  grid-column: contentcolumn;
  width:90%;
  height:90%;
  overflow:scroll;
  padding:5%;
}

#textarea_nav {
  z-index: 120;
  grid-row: navrow;
  grid-column: navcolumn;
  width:100%;
  height:100%;
  display:grid;
  grid-template: [navtop]1fr [navbottom]1fr / [navleft]1fr  [navright]1fr;
}

#iconrev {
  z-index: 130;
  width:100%;
  height:100%;
  background-color: yellow;
  grid-row: navtop;
  grid-column: navleft;
}

#iconfwd {
  z-index: 130;
  width:100%;
  height:100%;
  background-color: green;
  grid-row: navtop;
  grid-column: navright;
}

#iconmetainfo {
  z-index: 130;
  width:100%;
  height:100%;
  background-color: orange;
  grid-row: navbottom;
  grid-column: navright;
}

#iconfullscreen {
  z-index: 130;
  width:100%;
  height:100%;
  background-color: blue;
  grid-row: navbottom;
  grid-column: navleft;
}

/* mobile mode */

#shield {
  display:none;
  z-index: 200;
  background-color: #ffffff80;
  grid-column: 1 / span 3;
  grid-row: 1 / span 3;
  align-items: center;
  justify-content: center;
}

#startbutton {
  z-index:210;
  background-color: #444;
  padding: 20px;
  font-size: 40px;
  border-radius: 10px;
}
