/* IDENTITIES */

.contained {
  width: 100%; /* configurable: embedded width  */
  height: 400px; /* configurable: enbedded height */
  z-index: 1;
  margin:0;
  padding:0;
  display: grid;
  background-color: black;
  grid-template: var(--textsize) 1fr var(--textsize)  / var(--textsize) 1fr var(--textsize);
}

.contained #openseadragons {
  z-index: 100;
  background-color: black;
  grid-column: 1 / span 3;
  grid-row: 1 / span 3;
  background-image: url('default.jpeg');
  background-size: 120%;
  background-position: center;
}

.contained #textarea {
  display: grid;
  z-index: 105;
  background-color: #ffffff80;
  color: black;
  z-index: 100;
  width:100%;
  height:100%;
  overflow: hidden;
}

.contained #textarea.contained_left {
  grid-column: 1;
  grid-row: 1 / span 3;
  display:grid;
  grid-template: [contentrow]1fr [navrow]var(--textsize) / [contentcolumn navcolumn]1fr;
}

.contained #textarea.contained_right {
  grid-column: 3;
  grid-row: 1 / span 3;
  display:grid;
  grid-template: [contentrow]1fr [navrow]var(--textsize) / [contentcolumn navcolumn]1fr;
}

.contained #textarea.contained_top {
  grid-column: 1 / span 3;
  grid-row: 1 ;
  display:grid;
  grid-template: [contentrow navrow]1fr / [contentcolumn]1fr [navcolumn]var(--textsize);
}

.contained #textarea.contained_bottom {
  grid-column: 1 / span 3;
  grid-row: 3 ;
  display:grid;
  grid-template: [contentrow navrow]1fr / [contentcolumn]1fr [navcolumn]var(--textsize);
}

.contained #textarea.contained_bottom {
  grid-column: 1 / span 3;
  grid-row: 3 ;
  display:grid;
  grid-template: [contentrow navrow]1fr / [contentcolumn]1fr [navcolumn]var(--textsize);
}

.contained #textarea.contained_superbottom {
  background-color: transparent;
  grid-column: 1 / span 3;
  grid-row: 3 ;
  display:grid;
  grid-template: 2fr [navrow]1fr / [navcolumn]1fr;
}

.contained #textarea #textarea_content {
  display:block;
  z-index: 110;
  grid-row: contentrow;
  grid-column: contentcolumn;
  width:90%;
  height:90%;
  padding:5%;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.contained #textarea #textarea_content::-webkit-scrollbar {
  display: none;
}

.contained #textarea.contained_left #textarea_nav,
.contained #textarea.contained_right #textarea_nav,
.contained #textarea.contained_top #textarea_nav,
.contained #textarea.contained_bottom #textarea_nav {
  z-index: 120;
  grid-row: navrow;
  grid-column: navcolumn;
  width:100%;
  height:100%;
  display:grid;
  grid-template: [nav_rev_row nav_fwd_row]1fr [nav_fs_row nav_info_row]1fr / [nav_rev_column nav_fs_column]1fr  [nav_fwd_column nav_info_column]1fr;
}

.contained #textarea.contained_superbottom #textarea_nav {
  z-index: 120;
  grid-row: navrow;
  grid-column: navcolumn;
  width:100%;
  height:100%;
  display:grid;
  grid-template: [nav_rev_row nav_fwd_row nav_fs_row nav_info_row]1fr / [nav_rev_column]1fr [nav_fs_column]1fr [nav_info_column]1fr [nav_fwd_column]1fr;
}

.contained #textarea #textarea_nav #iconrev {
  z-index: 130;
  width:100%;
  height:100%;
  background-color: yellow;
  grid-row: nav_rev_row;
  grid-column: nav_rev_column;
}

.contained #textarea #textarea_nav #iconfwd {
  z-index: 130;
  width:100%;
  height:100%;
  background-color: green;
  grid-row: nav_fwd_row;
  grid-column: nav_fwd_column;
}

.contained #textarea #textarea_nav #iconmetainfo {
  z-index: 130;
  width:100%;
  height:100%;
  background-color: orange;
  grid-row: nav_info_row;
  grid-column: nav_info_column;
}

.contained #textarea #textarea_nav #iconfullscreen {
  z-index: 130;
  width:100%;
  height:100%;
  background-color: blue;
  grid-row: nav_fs_row;
  grid-column: nav_fs_column;
}

/* mobile mode */

.contained #shield {
  display:none;
  z-index: 200;
  background-color: #ffffff80;
  grid-column: 1 / span 3;
  grid-row: 1 / span 3;
  align-items: center;
  justify-content: center;
}

.contained #shield #startbutton {
  z-index:210;
  background-color: #444;
  padding: 20px;
  font-size: 40px;
  border-radius: 10px;
}

#textbelow {
  display: none;
}

#heading1 {
  display: none;
}

#heading2 {
  display: none;
}
